<div class="pa4-l mw7 center pa4">
  <%= form_for @conn, input_path(@conn, :create), fn _ -> %>
    <fieldset class="cf bn ma0 pa0">
      <div class="cf">
        <label class="clip" for="inputValue">Input Command</label>

        <input class="f6 f5-l input-reset ba fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
               placeholder="Input Command"
               type="text"
               name="value"
               id="inputValue">

        <input class="f6 f5-l button-reset fl pv3 tc ba b--dark-gray bg-dark-gray hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
               type="submit"
               value="Send">
      </div>
    </fieldset>
  <% end %>

  <%= if get_flash(@conn, :info) do %>
    <p class="w-100 bg-dark-green pa3 white br2" role="alert"><%= get_flash(@conn, :info) %></p>
  <% end %>

  <%= if get_flash(@conn, :error) do %>
    <p class="w-100 bg-dark-red pa3 white br2" role="alert"><%= get_flash(@conn, :error) %></p>
  <% end %>

  <h2 class="tc mt6">Account Ids</h2>
  <div class="overflow-auto">
    <%= Enum.map(@accounts, fn account -> %>
        <span class="b"><%= account.id %></span>, 
    <% end) %>
  </div>
</div>
