<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Magnetis Accounts Web Console">
    <meta name="author" content="Andrew Silva de Aguiar">

    <title>Magnetis Accounts Web Console</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  </head>

  <body class="dark-gray sans-serif">
    <div class="ph4 ph6-l">
      <header class="tc">
        <h1>Magnetis Accounts Web Console</h1>
      </header>

      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
